<div class="col-md-6 mx-auto shadow p-3">
    <form action="/produto/salvar" method="post">
        <fieldset>
            
            <legend>Cadastro de produto</legend>

            <label>DESCRIÇÃO</label>
            <input name="descricao" type="text" class="form-control">

            <label>PREÇO</label>
            <input name="preco" type="text" class="form-control">

            <label>ESTOQUE</label>
            <input name="estoque" type="number" class="form-control">
            
            <button type="submit" class="btn btn-success mt-3">Salvar</button>
        </fieldset>
    </form>
</div>