<div class="col-md-6 mx-auto shadow p-3">
    <form action="/pessoa/salvar" method="post">
        <fieldset>
            <legend>Cadastro de pessoa</legend>
            <label>Nome:</label>
            <input name="nome" type="text" class="form-control">
            <label>Telefone:</label>
            <input name="telefone" type="text" class="form-control">
            <label>E-mail:</label>
            <input name="email" type="text" class="form-control">
            <label>Cpf:</label>
            <input name="cpf" type="text" class="form-control">
            <button type="submit" class="btn btn-success mt-3">Salvar</button>
        </fieldset>
    </form>
</div>
